<mat-form-field appearance="standard">
	<mat-label>Filter for name</mat-label>
	<input matInput (keyup)="applyFilter($event)" placeholder="name" #input>
</mat-form-field>
<!--
<td class="text-center">{{ character.id }}</td>
<td class="text-center"></td>
<td class="text-center">{{ character.location.name }}Location</td>
<td class="text-center"></td>
<td class="text-center">{{ character.origin.name }}</td>
<td class="text-center">{{ character.episode.length }}</td>-->

<section class="kZQvlq">
	<mat-spinner *ngIf="loadingCharacter"></mat-spinner>
	<div class="iUltZj">
		<ng-container *ngIf="characters.length > 0">
			
			<article class="jHMBqe" *ngFor="let character of characters">
				<div class="gzCUdp">
					<img [src]="character.image" [alt]="character.name">
				</div>
				<div class="ldeZQp">
					<div class="section">
						<a href="https://rickandmortyapi.com/api/character/107" rel="nofollow noopener noreferrer" target="_blank"><h2>{{ character.name }}</h2></a>
						<span class="status"><span class="status__icon"></span> {{ character.status }} - {{ character.species }}</span>
					</div>
					<div class="section">
						<span class="text-gray">Last known location:</span>
						<a href="https://rickandmortyapi.com/api/location/20" rel="nofollow noopener noreferrer" target="_blank">{{ character.location.name }}</a>
					</div>
					<div class="section">
						<span class="text-gray">No. episodes:</span>
						<a href="https://rickandmortyapi.com/api/episode/24" rel="nofollow noopener noreferrer" target="_blank">{{ character.episode.length }}</a>
					</div>
				</div>
			</article>
		</ng-container>
	</div>
</section>
<ng-container *ngIf="characters.length > 0">

	<mat-paginator
		(page)="handlePageEvent($event)"
		[length]="info.count"
		[pageSize]="characters.length"
		[pageSizeOptions]="[5, 10, 20]"
		aria-label="Select page">
	</mat-paginator>
</ng-container>
  
  
<!--
created: "2017-11-04T18:48:46.250Z"
episode: ["https://rickandmortyapi.com/api/episode/1", "https://rickandmortyapi.com/api/episode/2",…]
: "Male"
id: 1
: "https://rickandmortyapi.com/api/character/avatar/1.jpeg"
location: {name: "Citadel of Ricks", url: "https://rickandmortyapi.com/api/location/3"}
: "Rick Sanchez"
origin: {name: "Earth (C-137)", url: "https://rickandmortyapi.com/api/location/1"}
: "Human"
status: "Alive"
type: ""
url: "https://rickandmortyapi.com/api/character/1"-->