Angular application (latest version) that consumes the next API Rest <a href="https://rickandmortyapi.com/" target="_blank">"https://rickandmortyapi.com/"</a> and does the following:<br>
<ul>
    <li>Implement Redux and save the data and actions of the events that are taking place in the store.</li>
    <li>Loading pages by lazy loading.</li>
    <li>
        <b>Character page</b>:
        <ol>
            <li>Show character list</li>
            <li>when clicking on a character redirects to the character's detail.</li>
        </ol>
    </li>
    <li>
        <b>Locations screen</b>:
        <ol>
            <li>Show list of locations</li>
            <li>when clicking on a location, show the list of characters.</li>
        </ol>
    </li>
    <li>
        <b>Episode screen</b>:
        <ol>
            <li>Show episode list</li>
            <li>when clicking on an episode, show the list of characters.</li>
        </ol>
    </li>
    <li>
        <b>Search</b>: Implement a search that, depending on the page you are on, filters by "name" characters, locations of episodes.
    </li>
    <li>
        Nice to have: perform unit tests with 20% of coverage
    </li>
</ul>
<a href="https://rickandmortyapi.com/" target="_blank">rickandmortyapi.com</a><br>
The Rick and Morty API is a REST and GraphQL API based on the television show Rick and Morty (439 kB)
